.body {
    background: linear-gradient(180deg, #FFFFFF 6.25%, #C5E0EF 35.94%, #2979FF 76.04%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    height: auto;
}

.body2 {
    margin: 0;
}

.hide {
    display: none;
}

input {
    width: 60%;
    display: block;
    margin: 1rem auto auto auto;
    padding: 1rem 1rem 0 1rem;
    border-style: none;
    border-bottom: solid #ffff 1px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;
}

#dataregistro>input::placeholder {
    color: #ffffff;
}

#msg-error {
    width:70%;
    margin:auto;
    padding: .8rem .3rem .3rem .3rem; 
}
#msg-error>span{
    font-family: 'Roboto';
    color: #ffffff;
}
#msgRegister-error {
    width: 70%;
    margin:auto;
    padding: .8rem 0 .3rem 0;
}
#msgRegister-error>span {
    font-family: 'Roboto';
    align-items: center;
}
/*
input::first-line {
    margin-top: 2rem;
}
*/


/*titulos*/

h2 {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1rem;
}

h4 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 0 1rem .2rem;
}

h5 {
    color: #004ECB;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: .8rem;
    font-weight: 400;
    margin-top: .5rem;
    word-spacing: 0.6rem;
}

.buttonWhite {
    width: 234px;
    height: 35px;
    background: #FFFBFB;
    border-radius: 10px;
    border: transparent;
    color: #2979FF;
    font-size: 1rem;
    display: block;
    margin: 2rem auto auto auto;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: #2979FF;
}

/*::placeholder {
    color: #ffff;
    font-weight: 300;
}*/

.logo-inicio {
    width: 55%;
    height: auto;
    display: block;
    margin: 60% auto auto auto;
}

.center {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgRedonda {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin: auto;
    display: block;
    text-align: center;
}


/* Muro */

.head {
    background-color: #C5E0EF;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
}

.lupa {
    color: #ffffff;
    font-size: 1.4rem;
}

.public {
    display: flex;
    border: solid 1px #004ECB;
    border-radius: 10px;
    width: 80%;
    padding: 1rem;
    margin: 1rem auto 1rem auto;
    align-items: center;
}

.inputpublic {
    border: #ffffff;
    width: 60%;
    margin: 0 0 auto 25%;
    text-align: center;
    padding: .5rem;
    color: #4F4F4F;
}

.inputpublic::placeholder {
    color: #004ECB;
}


/*logo de las secciones de la app */

.logo {
    width: 35%;
    height: auto;
}


/* barra inferior */

#barra-inferior {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#barra {
    display: flex;
    width: 100%;
    background-color: #EDEDED;
    padding: .5rem 0 .5rem 0;
    justify-content: space-around;
}

.iconos-barra {
    font-size: 2rem;
    color: #4F4F4F
}


/* copyright correspondiente a la seccion de inicio de sesion */

.copyright {
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ffff;
    font-family: sans-serif;
    font-size: 0.8rem;
    margin-top: 15%;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(255, 255, 255);
    /* Fallback color */
    background-color: rgba(255, 255, 255, 0.20);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 80%;
    height: auto;
    margin-top: 15%;
    margin-bottom: 5%;
}

fieldset {
    background-color: #EDEDED;
    border-radius: 1rem;
    border-style: none;
    line-height: 0.1rem;
    padding: 1rem 1rem 1rem 1rem;
    height: auto;
}


/* The Close Button */

.close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

fieldset input {
    width: 80%;
    display: block;
    margin: 0.3rem auto auto auto;
    padding: 0.6rem 1rem 0 1rem;
    border-style: none;
    border-radius: 0.8rem;
    background-color: #ffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #4F4F4F;
    font-size: 1rem;
    font-weight: 300;
}

button {
    width: 234px;
    height: 35px;
    background: #2979FF;
    border-radius: 10px;
    border: transparent;
    color: #ffff;
    font-size: 1rem;
    display: block;
    margin: 2rem auto auto auto;
    font-weight: 500;
}