.body {
    background: linear-gradient(180deg, #FFFFFF 6.25%, #C5E0EF 35.94%, #2979FF 76.04%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    height: auto;
}

.body2 {
    margin: 0;
}

.hide {
    display: none;
}

input {
    width: 60%;
    display: block;
    margin: 1rem auto auto auto;
    padding: 1rem 1rem 0 1rem;
    border-style: none;
    border-bottom: solid #ffff 1px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;
}

#dataregistro>input::placeholder {
    color: #ffffff;
}

#msg-error {
    width:70%;
    margin:auto;
    padding: .8rem .3rem .3rem .3rem; 
}
#msg-error>span{
    font-family: 'Roboto';
    color: #ffffff;
}
#msgRegister-error {
    width: 70%;
    margin:auto;
    padding: .8rem 0 .3rem 0;
}
#msgRegister-error>span {
    font-family: 'Roboto';
    align-items: center;
}
/*
input::first-line {
    margin-top: 2rem;
}
*/


/*titulos*/

h2 {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1rem;
}

h4 {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 1rem 0 1rem .2rem;
}

h5 {
    color: #004ECB;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: .8rem;
    font-weight: 400;
    margin-top: .5rem;
    word-spacing: 0.6rem;
}

.buttonWhite {
    width: 234px;
    height: 35px;
    background: #FFFBFB;
    border-radius: 10px;
    border: transparent;
    color: #2979FF;
    font-size: 1rem;
    display: block;
    margin: 2rem auto auto auto;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: #2979FF;
}

/*::placeholder {
    color: #ffff;
    font-weight: 300;
}*/

.logo-inicio {
    width: 55%;
    height: auto;
    display: block;
    margin: 60% auto auto auto;
}

.center {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgRedonda {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin: auto;
    display: block;
    text-align: center;
}


/* Muro */

.head {
    background: linear-gradient(180deg, #C5E0EF 0%, #C5E0EF 0.01%, #D9EAF4 39.06%, rgba(227, 240, 247, 0.6) 70.83%, rgba(255, 255, 255, 0.24) 100%, rgba(255, 255, 255, 0.2) 100%), #FFFFFF;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
}

.lupa {
    margin-left: 1rem;
    margin-right: 2rem;
    color: #4F4F4F;
    font-size: 1.4rem;
}
.bar{
    margin-right: 0;
    color: #4F4F4F;
    font-size: 1.4rem;
}

.signout {
    align-items: center;
    width:35%;
    margin-left:auto;
    padding: .8rem;
}
.signout>span {
    font-family: 'roboto';
    font-size: 1rem;
    margin:auto 0 auto .5rem;
    color:#4F4F4F;
}
.signout>i {
    font-size: 1rem;
    color:#4F4F4F; 
}

.profile-picture {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: auto;
    display: block;
    text-align: center;
}

.public {
    display: flex;
    border: solid 1px #004ECB;
    border-radius: 10px;
    width: 80%;
    padding: .5rem;
    margin: 1rem auto .2rem auto;
    align-items: center;
    justify-content: center;
}

.inputpublic {
    border: #ffffff;
    width: 70%;
    margin: auto 0 auto 5%;
    text-align: center;
    padding: .5rem;
    color: #4F4F4F;
}

.inputpublic::placeholder {
    color: #004ECB;
}

#publish {
    font-family: 'Roboto';
    font-size: 1rem;
    color: #004ECB;
    margin: 1% 0 5% 75%;
}

.button2 {
    width: 90%;
    height: 3rem;
    background: #2979FF;
    border-radius: 10px;
    border: transparent;
    color: #ffff;
    font-size: 1rem;
    display: block;
    margin: 1.5rem auto auto auto;
    font-weight: 500;
}

/*logo de las secciones de la app */

.logo {
    margin-right: 40%;
    width: 35%;
    height: auto;
}


/* barra inferior */

#barra-inferior {
    width: 100%;
    position: fixed;
    bottom: 0;
    clear: both;
    box-sizing: border-box;
}

#barra {
    display: flex;
    width: 100%;
    background-color: #EDEDED;
    padding: .5rem ;
    justify-content: space-around;
    box-sizing: border-box;
}

#barra>span{
    margin:0;
}

.iconos-barra {
    font-size: 2rem;
    color: #4F4F4F
}


/* copyright correspondiente a la seccion de inicio de sesion */

.copyright {
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ffff;
    font-family: sans-serif;
    font-size: 0.8rem;
    margin-top: 15%;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(255, 255, 255);
    /* Fallback color */
    background-color: rgba(255, 255, 255, 0.20);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 80%;
    height: auto;
    margin-top: 15%;
    margin-bottom: 5%;
}

fieldset {
    background-color: #EDEDED;
    border-radius: 1rem;
    border-style: none;
    line-height: 0.1rem;
    padding: 1rem 1rem 1rem 1rem;
    height: auto;
}


/* The Close Button */

.close-modal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

fieldset input {
    width: 80%;
    display: block;
    margin: 0.3rem auto auto auto;
    padding: 0.6rem 1rem 0 1rem;
    border-style: none;
    border-radius: 0.8rem;
    background-color: #ffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #4F4F4F;
    font-size: 1rem;
    font-weight: 300;
}

button {
    width: 234px;
    height: 35px;
    background: #2979FF;
    border-radius: 10px;
    border: transparent;
    color: #ffff;
    font-family: 'roboto';
    font-size: 1.2rem;
    display: block;
    margin: 2rem auto auto auto;
    font-weight: 500;
}

#container-post{
    /*position: fixed;*/ 
    margin-top: 1%;    
    width: 100%; 
    overflow-y: scroll; 
    box-sizing: border-box;
    padding: 1.5rem;
}

#container-post::-webkit-scrollbar {
    width: 8px;     
    height: 8px;   
    display: none; 
}

#post-note{
    width: auto;
    height: auto;
    /*overflow: hidden;*/
    background: #C5E0EF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5rem;
}
#post-note div {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding: .3rem .1rem .1rem .1rem; 
}

#post-note div>i{
    margin:0 5% 0 0 ;
}

#post-note div>h4{
    font-family: 'Roboto';
    margin: 1.3rem auto .2rem auto;
    font-size: .9rem;
    color: #4F4F4F;
    text-align:left ;
    font-weight: 200;
    line-height: 0;    
}

#post-note div>p{
    font-family: 'roboto';
    font-size: .8rem;
    text-align: right;
    margin: 2rem 0 0 0;
    color: #4F4F4F;
}

.img-cuadrada{
    margin:auto;
    width: 95%;
    height: auto;
    
}

.like-comment{
    font-family: 'roboto';
    font-size: 1rem;
    color: #4F4F4F;
    margin-right: .1rem
}
#picture-perfil-post{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: solid #ffff 2px;
    margin: .2rem auto .2rem 5%;
    display: flex;
}

/*destinos destacados */
#contenedor {
    margin-bottom: 11%;
}

#destiny-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
#destacado {
    color: #4F4F4F;
    font-size: 1.2rem;
    font-family: 'roboto';
    margin-left: .2rem;
}
.icon {
    font-size: 1.2rem;
    color:#4F4F4F;
}

.text {
    font-family: 'roboto';
    font-size: .9rem;
    color: #4F4F4F;
    text-align: center;
    margin:1rem;
}
#destinos {
    display:flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding:.5rem;
}

#box {
    width: 45%;
    height: auto;
    box-sizing: border-box;
    margin:auto auto .7rem auto;
    text-align: center;
}

#destiny-name {
    font-family: 'Roboto';
    font-size: 1rem;
    text-align: center;
    color: #4F4F4F;
}

#destiny-img {
    justify-self: center;
    width: 90%;
    height:8rem;
    margin:auto auto auto .5rem;
}

/*Perfil */

.iconos-profile {
    font-size: 2rem;
    color: #4F4F4F
    
}
.img-profile {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-right: 40%;
    margin: 1rem;
    display: block;
    text-align: center;
    /* justify: left; */
}

#container-mypost{
    position: fixed; 
    margin-top: 1%;    
    width: 50%; 
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 1.5rem;
}

#container-mypost::-webkit-scrollbar {
    width: 8px;     
    height: 8px;   
    display: none; 
}
#boxmypost {
    height: auto;
    box-sizing: border-box;
    margin:auto;
    text-align: center;
}
